---
---
<!DOCTYPE HTML>
<html>
<head>
    <title>Kruchten Recipe Book</title>
    <meta charset="UTF-8">
</head>
<style>
* {font-family: Verdana;}
td {
    padding: 0; 
    width: 200px; 
    height: 200px; 
    vertical-align: bottom; 
    text-align: center;
    background: grey;
}
td a {
    color: white; 
    text-shadow: 2px 2px #000; 
    font-size: 25px; 
    text-decoration: none;
}
</style>
<body>

<div style="text-align: center;">
<img src="img/frog.png"><img src="img/cuiller_bois.jpg" height="156">
<h1>La Grenouille et la Cuiller en Bois</h1>
<h3>or: what we ate for Christmas 2013</h3>
<table cellspacing="5" cellpadding="0" style="width: 815px; margin: 0 auto;">
{% for p in site.posts %}
{% cycle '<tr>', '', '', '' %}
    <td style="
    {% if p.image %}
    background: url('{{p.image | replace:'img','frontimgs'}}');
    {% endif %}
    ">
        <a href="{{ site.url }}{{ p.url }}">{{p.title}}</a>
    </td>

{% cycle '', '', '', '</tr>' %}

{% endfor %}
</table>
    </div>
</body>
</html>
