<!DOCTYPE html>

<html lang="en">
<head>
    {% include head.html %}
  <title>{{page.title}}</title>
  <style>
     p {
      font-size: 18px;
      line-height: 1.6;
      margin-bottom: 20px;
     }

     li {
      margin: 0 10px;
      font-size: 18px;
      line-height: 1.6;
    }
  </style>
</head>
<body>

    <div class="container">
      <div class="row">
        <div class="span8 offset2">

          {% if page.image %} <img src="{{page.image}}"/> {% endif %}

          <h1 class="text-center">{{page.title}}</h1>

          {{content}}

        </div>
      </div>
    </div>

    <script>
    $(function(){
        $('img').add('p > img').each(function(){
            $(this).bind("click", function(){
                window.location = $(this).attr("src");
            });
            $(this)
                .css({"padding": "20px 0", "max-width": "65%", "cursor": "pointer"})
                .wrap('<div class="text-center">')
                ;
        });
    });
    </script>
</body>
</html>
